<span>
  <%= link_to t("admin.book.edit_button"), edit_admin_book_url(book),
    class: "btn btn-info" %>
  <%= link_to t("admin.book.delete_button"), admin_book_url(book),
    method: :delete, data: {confirm: t("admin.book.delete_confirm")},
    class: "btn btn-danger" %>
</span>
