<h1><%= t "admin.book.dashboard" %></h1>
<%= render "search_form" %>
<div class="books"><%= render "book" %></div>
<%= link_to t("admin.book.new_book"), new_admin_book_path,
  class: "btn btn-info" %>
