@import "bootstrap-sprockets";
@import "bootstrap";

.padding-right {
  padding-right: 0;
}

.features_items {
  overflow:hidden;
}

h2.title {
  color: #FE980F;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.bookinfo { 
  p{
    font-size: 14px;
    font-weight: 400;
    color: #696763;
  }
  img {
    margin-top: 10px;
    width: 90%;
    height: 260px
  }
}

.book-image-wrapper {
  border:1px solid #F7F7F5;
  overflow: hidden;
  margin-bottom:30px;
}

.book-details {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 10px;
}

.view-book { 
  img {
  border: 1px solid #F7F7F0;
  height: 380px;
  width: 100%;
  }
}

.book-information {
  border: 1px solid #F7F7F0;
  overflow: hidden;
  padding-left: 40px;
  position: relative;
  p {
    color: #696763;
    margin-bottom: 5px;
  }
  h3 {
    color: #FE980F;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.comments {
  padding-left: 3em;
}

.comment {
  padding-top: 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form_edit_comment {
  display:none;
}

.unlike-button {
  color: red;
}

.like-activity-count {
  font-size: 1.5em;
  color: green;
}

.glyphicon {
    font-size: 24px;
}
