<footer class="footer">
  <small>
    <p class="infor">
      &copy; <%= Date.today %> <%= t ".company" %> <br>
    </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
    </ul>
  </nav>
</footer>
